<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">

<title>{{ page.title }} | {{site.name}}</title>

{% seo %}

<link rel="stylesheet" href="https://bootstrapcdn.com" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
<link href="{{ site.baseurl }}/assets/css/screen.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">

<!-- jQuery diletakkan di atas agar script lain tidak error -->
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

</head>

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{layout}}">

<!-- Begin Menu Navigation
================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">

    <div class="container pr-0">

        <!-- Begin Logo -->
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
        </a>
        <!-- End Logo -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMediumish">

            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/index.html">Blog</a>
                </li>

                <!-- Dropdown Kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kategori
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ site.baseurl }}/category/otomotif/">Tutorial Otomotif</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/category/hp/">Tutorial HP</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/category/pc/">Tutorial PC</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ site.baseurl }}/categories.html">All Tutorial</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/about">Tentang</a>
                </li>

                <li class="nav-item">
                    <a target="_blank" class="nav-link" href="https://github.com"><i class="fab fa-github"></i> Github</a>
                </li>

                {% include search-lunr.html %}

            </ul>
            <!-- End Menu -->

        </div>

    </div>
</nav>
<!-- End Navigation
================================================== -->

<div class="site-content">

    <div class="container">

        <!-- Site Title -->
        <div class="mainheading">
            <h1 class="sitetitle">{{ site.name }}</h1>
            <p class="lead">
                {{ site.description }}
            </p>
        </div>

        <!-- Content -->
        <div class="main-content">
            {{ content }}
        </div>

    </div>

    <!-- Categories Jumbotron -->
    <div class="jumbotron fortags">
        <div class="d-md-flex h-100">
            <div class="col-md-4 transpdark align-self-center text-center h-100">
                <div class="d-md-flex align-items-center justify-content-center h-100">
                    <h2 class="d-md-block align-self-center py-1 font-weight-light">Explore <span class="d-none d-md-inline">→</span></h2>
                </div>
            </div>
            <div class="col-md-8 p-5 align-self-center text-center">
                {% assign categories_list = site.categories %}
                {% for category in categories_list %}
                    <a class="mt-1 mb-1" href="{{site.baseurl}}/categories#{{ category[0] | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | camelcase }} ({{ category[1].size }})</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 text-center text-lg-left">
                    Copyright © {{ site.time | date: "%Y" }} {{ site.name }} 
                </div>
                <div class="col-md-6 col-sm-6 text-center text-lg-right">    
                    <a target="_blank" href="https://youtube.com">Solution iD</a>
                </div>
            </div>
        </div>
    </footer>

</div> <!-- /.site-content -->

<!-- Scripts di akhir agar loading cepat -->
<script src="https://cloudflare.com" crossorigin="anonymous"></script>
<script src="https://bootstrapcdn.com" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/mediumish.js"></script>

<noscript id="deferred-styles">
    <link href="https://googleapis.com" rel="stylesheet">
    <link rel="stylesheet" href="https://fontawesome.com" crossorigin="anonymous">
</noscript>
<script>
    var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement);
        addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
        window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
</script>

</body>
</html>
